.queue {
    @include main-component-design;

    &-container {
        gap: 20px;
        padding: 30px;
        .queue-line {
            gap: 40px;
            flex-direction: row-reverse;
            background-color: $primary-color;
            padding: 2px 5px;

            &.close {
                background-color: $main-red;
            }

            .queue-spot {
                width: 35px;
                height: 35px;
                border-radius: 50%;
                border: 1px solid black;
                background-color: $primary-white;
                font-size: 15px;

                &.customer {
                    background-color: $primary-green-color;
                }
            }
        }
    }
}

