// FLEX HELPERS


.flex {

    display: flex;

    > *.full {
        flex: 1;
    }
    &.column {
        flex-direction: column;
    }
    &.justify-center {
        justify-content: center;
    }
    &.align-center {
        align-items: center;
    }
    &.space-between {
        justify-content: space-between
    }
    &.space-around {
        justify-content: space-around;
    }
}

.absolute {
    position: absolute;
}

.relative {
    position: relative;
}


.clean-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

// MEDIA HELPERS

.square-ratio {
    @include aspect-ratio(1, 1);
}
.video-ratio {
    @include aspect-ratio(16, 9);
}
.portrait-ratio {
    @include aspect-ratio(9, 16);
}